<h2>URL Helpers</h2>

<%= link_to "Home", root_path %>
<%= link_to "Numbers", numbers_path %>
<%= link_to "Text", text_path %>
<%= link_to "Text", text_path %>
<%= link_to "Text", text_path %>
<%= link_to "Text", text_path %>
<%= link_to "Text", text_path %>
<%= link_to "Text", text_path %>
<%= link_to "Text", text_path %>
<%= link_to "Text", text_path %>
<%= link_to "Text", text_path %>
<%= link_to "Text", text_path %>
<%= link_to "Text", text_path %>
